:root {
    --main-color: #222629;
    --secondary-color: #474B4F;
    --tertiary-color: #6B6E70;

    --main-accent-color: #86C232;
    --secondary-accent-color: #61892F;

    --main-text: var(--tertiary-color);
    --secondary-text: var(--secondary-color);

    --transparent-color: rgba(255, 255, 255, 0);
}

body {
    font-family: "Anek Latin", sans-serif; 
    
    padding-top: 50px;

    background-color: var(--main-color);
}

.main.nav-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;

    z-index: 100;
    align-items: center;

    display: flex;

    background-color: var(--main-color);
    box-shadow: 0px 0px 1px 0px rgba(71, 75, 79, 0.5);
    /* border-bottom: 1px dashed rgba(71, 75, 79, 0.2); */
}

.nav-bar-items-container {
    flex: 1;

    display: flex;
}

.nav-bar-item {
    margin: 0px 0px 0px 10px;
    color: var(--tertiary-color)
}

/* map display styles */
.map-display {
    width: 100%;
    display: flex;

    justify-content: space-between;
    gap: 10px;
}

.map {
    flex: 1;

    height: 400px;

    background: red;
}

.places-list {
    flex: 1;
    max-width: 200px;

    display: flex;
    flex-direction: column;
    align-content: space-around;
    gap: 5px;
}

.place {
    background-color: gray;
}

.place-name {
    font-weight: 800;
}

.place-direction {

}