:root {
    --main-color: #222629;
    --secondary-color: #474B4F;
    --tertiary-color: #6B6E70;

    --main-accent-color: #86C232;
    --secondary-accent-color: #61892F;

    --main-text: var(--tertiary-color);
    --secondary-text: var(--secondary-color);

    --transparent-color: rgba(255, 255, 255, 0);
}

.main.nav-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    z-index: 100;

    display: flex;
}

.nav-bar-items-container {
    flex: 1;

    display: flex;
}

.nav-bar-item {
    /* display: inline-block; */
}