/* map display styles */
.map-display {
  width: 100%;
  display: flex;

  justify-content: space-between;
  gap: 10px;
}

.map {
  flex: 1;

  height: 400px;

  background: red;
}

.places-list {
  flex: 1;
  max-width: 200px;

  display: flex;
  flex-direction: column;
  align-content: space-around;
  gap: 5px;
}

.place {
  background-color: gray;
}

.place-name {
  font-weight: 800;
}

.place-direction {

}